<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
    <div class="nav-left">
        <i class="fa-solid fa-boxes-stacked"></i>
        <span class="nav-title">Gerenciamento de Estoque</span>
    </div>

    {% if session.get('usuario') %}
    <div class="nav-links">
    <a href="{{ url_for('produtos') }}" class="{% if request.endpoint == 'produtos' %}active{% endif %}" id="botaonav">Produtos</a>
    <a href="{{ url_for('estoque') }}" class="{% if request.endpoint == 'estoque' %}active{% endif %}" id="botaonav">Gerenciar Estoque</a>
    <a href="{{ url_for('movimentacoes') }}" class="{% if request.endpoint == 'movimentacoes' %}active{% endif %}" id="botaonav">Movimentações</a>
    <a href="{{ url_for('configuracoes') }}" class="{% if request.endpoint == 'movimentacoes' %}active{% endif %}" id="botaonav">Configurações</a>
    </div>

    <div class="user-info">
        <i class="fa-solid fa-user"></i>
        <span>{{ session['usuario'] }} ({{ session['perfil']|capitalize }})</span>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit" class="btn-logout">Sair</button>
        </form>
    </div>
    {% endif %}
</nav>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
