{% extends "base.html" %}
{% block content %}
<h2>Lista de Produtos</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th><th>Nome</th><th>Categoria</th><th>Quantidade</th><th>Editar</th><th>Excluir</th>
    </tr>
    {% for p in produtos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nome }}</td>
        <td>{{ p.categoria }}</td>
        <td>{{ p.quantidade }}</td>
        <td>
                <a id="editar" href="/editar_produto/{{ p.id }}">Editar</a>
        </td>
        <td>
            <form action="/excluir_produto/{{ p.id }}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir o produto {{ p.nome }}?');">
                <button type="submit" class="excluir">Excluir</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Adicionar Produto</h3>
<form action="/add_produto" method="post" onsubmit='return validarFormulario()'>
    Nome: <input type="text" name="nome" required><br>
    Categoria: <input type="text" name="categoria"><br>
    Quantidade: <input type="number" name="quantidade" min="0"><br>
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}

